
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family:'Dosis', sans-serif; 
    /* padding-top: 70px; */
}

/* div {
    font-family: 'Dosis', sans-serif;
    /* color: ; */
/* } */ */

.name {
    color: #818185;

}

.emoji {
    color: #B19CD7;
}

#frontend {
    color: #B19CD7;
}

#btn-color {
    background-color: #C0AFE2;
    color: white;
}
.material-symbols-rounded {
    vertical-align: middle;
    line-height: 1px;
}

.navbar > .material-symbols-rounded {
    font-size: 40px;
    font-family: 'Dosis';
}

.about > .material-symbols-rounded {
    font-size: 50px;
    color: #B19CD7;
}

.rounded-pill{
    background-color: #B19CD7;
}

a .btn-sm {
    border-color: #B19CD7;
}

.card > img {
    height: 250px;
}

#map { 
    height: 300px; 
}

.in-icon {
    color: #818185;
}

p .card-text {
    overflow: scroll;
    cursor: pointer;
    height: 100px;
}